.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modalz {

  display: none;

}

.chat-container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  }

  .darker {
  border-color: #ccc;
  background-color: #ddd;
  }

  .chat-container::after {
  content: "";
  clear: both;
  display: table;
  }

  .chat-container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
  }

  .chat-container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
  }

  .p-right {
    float: right;
    text-align: right;
  }

  .p-left {
    float: left;
    text-align: left;
  }

  .time-right {
  float: right;
  color: #aaa;
  }

  .time-left {
  float: left;
  color: #999;
  }

  .chat_msg_1{
    overflow-y: scroll;
    margin-bottom: 12px;
    height: 500px;
  }
  .custom-navbar {
    background-color: #060a2e;
    /* Add any other custom styling as needed */
  }
